body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
  }
  
header {
    background: lightpink;
    padding: 2rem;
    grid-column: 1 / 4;
    grid-row: 1;
  }
  
nav {
    background: lightblue;
    padding: 2rem;
    grid-column: 1 / 4;
    grid-row: 2;
  }
  
main {
    background: coral;
    grid-column: 1 / 3;
    grid-row: 3;
  }
  
.right-sidebar {
    background: yellow;
    grid-column: 3 / 4;
    grid-row: 3;
  }
  
footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 4;
  }
  
.right-sidebar {
    padding: 1rem;
  }
  