@media screen and (max-width: 600px) {

.both {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D8A99;
    padding-left: 1em;
    padding-right: 1em;
}

#logo {
    width: 100px;
    height: auto;
}

span {
    padding-right: 1em;
}

#mode {
	position: absolute;
	top: 5rem;
	left: 1rem;
	font-size: 5rem;
	cursor: pointer;
}
    
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
    top: 12rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖️";
}

.navi {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #424651;
	color: #1D8A99;
}

.navi li {
	display: none;
}

.navi li a {
	display: block;
	padding: 5px;
	text-align: center;
	color: #8FBFE0;
}

.navi li a:hover {
	color: #14FFF7;
    background-color: black;
	font-weight: 700;
}

.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	content: "👍";
}

ul {
    list-style-type: none;
}

.hero img {
    width: 100%;
    height: auto;
}
    
h1 {
    font-family: Georgia, Serif;
    text-align: center;
    border: 5px solid #424651;
    padding: 10px;
}
    
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}
    
.event1 {
    grid-column: 2;
    grid-row: 1;
}
    
.eventimage {
    grid-column: 2;
    grid-row: 2;
}
    
.event2 {
    grid-column: 2;
    grid-row: 3;
}
    
.weather {
    grid-column: 1;
    grid-row: 4;
    justify-content: center;
}

.weathertitle {
    color: red;
}
    
.join1 {
    grid-column: 2;
    grid-row: 4;
}
    
.joinimage2 {
    grid-column: 3;
    grid-row: 4;
}
    
.spotpicture1 {
    grid-column: 1;
    grid-row: 5;
}
    
.spotlight1 {
    grid-column: 2;
    grid-row: 5;
}
    
.spotpicture2 {
    grid-column: 3;
    grid-row: 5;
}
    
footer {
    background-color: #424651;
    color: #8FBFE0;
    text-align: center;
}

}

/* ------discover.html css code below-----*/

@media screen and (max-width: 600px) {



.home-grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.image1 {
    grid-column: 2;
    grid-row: 1;
}

.image2 {
    grid-column: 2;
    grid-row: 2;

}

.image3 {
    grid-column: 2;
    grid-row: 3;
}

.image4 {
    grid-column: 2;
    grid-row: 4;
}

.image5 {
    grid-column: 2;
    grid-row: 5;
}

.image6 {
    grid-column: 2;
    grid-row: 6;
}

.total {
    border-style: double;
    background-color: #424651;
    color: #8FBFE0;
    grid-column: 2;
    grid-row: 7;
}

.washingtonterrace {
    grid-column: 2;
    grid-row: 8;
}

.incomestats {
    grid-column: 2;
    grid-row: 9;
}

.workstats {
    grid-column: 2;
    grid-row: 10;
}

.earningstats {
    grid-column: 2;
    grid-row: 11;
}

.educationstats {
    grid-column: 2;
    grid-row: 12;
}

/* join.html page */

.join {
    text-align: center;
}

form fieldset {
    margin: 3rem 0;
    border: 3px solid #1D8A99;
    border-radius: 10px;
    padding: 1rem 2%;
    padding-bottom: 2rem;
}

form legend {
    text-align: center;
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, label.middle {
    display: block;
    padding-top: 1rem;
    padding-left: 2rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input, label.middle input {

    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinbtn {
    border: none;
    background-color: #1D8A99;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    text-decoration: underline;
}

.desktop{
    display: none;
}

/* Table Build on mobile view*/

:root {
    --color1: black;
    --color2: grey;
    --color3: rgb(231, 228, 228);
    --color4: white;
}

table {
    margin: 10px auto;
    border: thin solid;
    border-collapse: collapse;
    box-shadow: 0 0 20px;
    text-align: center;
}

th, td {
    padding: 7px 15px;
}

td, tr {
    border: 1px solid;
}

.heading, .highlight {
	background-color: var(--color1);
	color: var(--color4);
}

.heading2 {
    background-color: var(--color2);
    color: var(--color4)
}

tbody tr:nth-child(even) {
	background-color: var(--color3);
}

caption {
    padding: 10px;
    caption-side: bottom;
      color: var(--color1);
      font-size: .75rem;
}


/*-----------directory-----------*/



.directory {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 700px;
	background-color: #fff;
	font-family: Roboto, Helvetica, sans-serif;
}

#cards li {
    list-style-type: none;
}

.directorymenu button {
	padding: 1rem;
	font-weight: 700;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
    margin: 1rem;
	background-color: #ad6161;
}

.directorygrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.directorygrid section {
	text-align: center;
}

.directorygrid img {
	border: 1px solid #fff;
	box-shadow: 0 0 30px white;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.directorygrid section > * {
	margin: 0.5rem;
}

.directorygrid h3 {
	font-family: "Caveat", cursive;
}

.directorylist {
	display: flex;
	flex-direction: column;
}

.directorylist section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.directorylist section > * {
	margin: 0 1rem;
}

.directorylist section img {
	display: none;
}

.directorylist section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.directorylist section:nth-child(even) {
	background-color: #1D8A99;
}

}