@media screen and (min-width: 600px) and (max-width: 900px) {

.both {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D8A99;
}

#logo {
    width: 100px;
    height: auto;
}

span {
    padding-right: 1em;
}

#mode {
	position: absolute;
	top: 1rem;
	right: 0;
	font-size: 5rem;
	cursor: pointer;
}

#menu {
    display: none;
}
    
ul {
    display: flex;
    list-style-type: none;
    border: none;
}
    
nav li {
    margin-left: 2em;
    background-color: #424651;
    padding: 10px;
}

nav ul {
    justify-content: center;
    background-color: #424651;
}

nav a:link, nav a:visited {
    color: #8FBFE0;
}
    
nav a:hover {
    color: #14FFF7;
    background-color: black;
}

.hero img {
    width: 100%;
    height: auto;
}
    
h1 {
    font-family: Georgia, Serif;
    text-align: center;
    border: 5px solid #424651;
    padding: 10px;
}
    
.logo {
    display: flex;
    margin-right: 2em;
}
    
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}
    
.event1 {
    grid-column: 1;
    grid-row: 1;
}
    
.eventimage {
    grid-column: 2;
    grid-row: 1;
}
    
.event2 {
    grid-column: 3;
    grid-row: 1;
}
    
.weather {
    grid-column: 1;
    grid-row: 2;
}

.weathertitle {
    color: red;
}
    
.join1 {
    grid-column: 2;
    grid-row: 2;
}
    
.joinimage2 {
    grid-column: 3;
    grid-row: 2;
}
    
.spotpicture1 {
    grid-column: 1;
    grid-row: 3;
}
    
.spotlight1 {
    grid-column: 2;
    grid-row: 3;
}
    
.spotpicture2 {
    grid-column: 3;
    grid-row: 3;
}
    
footer {
    background-color: #424651;
    color: #8FBFE0;
    text-align: center;
}

/* ------discover.html css code below-----*/


.home-grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    border-collapse: inherit;
}
    
.image1:hover {
    grid-column: 2;
    grid-row: 1;
    box-shadow: 0 0 50px #333;
}
    
.image2:hover {
    grid-column: 2;
    grid-row: 2;
    box-shadow: 0 0 50px #333;
}
    
.image3:hover {
    grid-column: 2;
    grid-row: 3;
    box-shadow: 0 0 50px #333;
}
    
.image4:hover {
    grid-column: 2;
    grid-row: 4;
    box-shadow: 0 0 50px #333;
}
    
.image5:hover {
    grid-column: 2;
    grid-row: 5;
    box-shadow: 0 0 50px #333;
}
    
.image6:hover {
    grid-column: 2;
    grid-row: 6;
    box-shadow: 0 0 50px #333;
}
    
.washingtonterrace {
    grid-column: 1;
    grid-row: 1;
    border-style: double;
}
    
.incomestats {
    grid-column: 1;
    grid-row: 2;
    border-style: double;
}
    
.workstats {
    grid-column: 1;
    grid-row: 3;
    border-style: double;
}
    
.earningstats {
    grid-column: 1;
    grid-row: 4;
    border-style: double;
}
    
.educationstats {
    grid-column: 1;
    grid-row: 5;
    border-style: double;
}
    
.total {
    border-style: double;
    background-color: #424651;
    color: #8FBFE0;
    grid-column: 1;
    grid-row: 6;
}

    /* join.html page */

.mainjoin {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.join {
    text-align: center;
    grid-column: 1/-1;
}

form fieldset {
    grid-column: 1;
    margin: 3rem 0;
    border: 3px solid #1D8A99;
    border-radius: 10px;
    padding: 1rem 2%;
    padding-bottom: 2rem;
}

form legend {
    grid-column: 1;
    text-align: center;
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, label.middle {
    grid-column: 1;
    display: block;
    padding-top: 1rem;
    padding-left: 2rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input, label.middle input {
    grid-column: 1;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinbtn {
    border: none;
    background-color: #1D8A99;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    text-decoration: underline;
}

/* Table */
.mobileview {
    display: none;
}

.desktop {
    display: grid;
    grid-column: 2;
}

/*-----------directory-----------*/



.directory {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 700px;
	background-color: #fff;
	font-family: Roboto, Helvetica, sans-serif;
}

#cards li {
    list-style-type: none;
}

.directorymenu button {
	padding: 1rem;
	font-weight: 700;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
    margin: 1rem;
	background-color: #ad6161;
}

.directorygrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.directorygrid section {
	text-align: center;
}

.directorygrid img {
	border: 1px solid #fff;
	box-shadow: 0 0 30px white;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.directorygrid section > * {
	margin: 0.5rem;
}

.directorygrid h3 {
	font-family: "Caveat", cursive;
}

.directorylist {
	display: flex;
	flex-direction: column;
}

.directorylist section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.directorylist section > * {
	margin: 0 1rem;
}

.directorylist section img {
	display: none;
}

.directorylist section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.directorylist section:nth-child(even) {
	background-color: #1D8A99;
}

}