@media screen and (min-width: 600px) and (max-width: 900px) {

.both {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D8A99;
}

#logo {
    width: 100px;
    height: auto;
}

span {
    padding-right: 1em;
}

#mode {
	position: absolute;
	top: 1rem;
	right: 0;
	font-size: 5rem;
	cursor: pointer;
}

#menu {
    display: none;
}
    
ul {
    display: flex;
    list-style-type: none;
    border: none;
}
    
li {
    margin-left: 2em;
    background-color: #424651;
    padding: 10px;
}

nav ul {
    justify-content: center;
    background-color: #424651;
}

nav a:link, nav a:visited {
    color: #8FBFE0;
}
    
nav a:hover {
    color: #14FFF7;
    background-color: black;
}

.hero img {
    width: 100%;
    height: auto;
}
    
h1 {
    font-family: Georgia, Serif;
    text-align: center;
    border: 5px solid #424651;
    padding: 10px;
}
    
.logo {
    display: flex;
    margin-right: 2em;
}
    
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}
    
.event1 {
    grid-column: 1;
    grid-row: 1;
}
    
.eventimage {
    grid-column: 2;
    grid-row: 1;
}
    
.event2 {
    grid-column: 3;
    grid-row: 1;
}
    
.weather {
    grid-column: 1;
    grid-row: 2;
}

.weathertitle {
    color: red;
}
    
.join1 {
    grid-column: 2;
    grid-row: 2;
}
    
.joinimage2 {
    grid-column: 3;
    grid-row: 2;
}
    
.spotpicture1 {
    grid-column: 1;
    grid-row: 3;
}
    
.spotlight1 {
    grid-column: 2;
    grid-row: 3;
}
    
.spotpicture2 {
    grid-column: 3;
    grid-row: 3;
}
    
footer {
    background-color: #424651;
    color: #8FBFE0;
    text-align: center;
}

}


/* ------discover.html css code below-----*/

@media screen and (min-width: 600px) and (max-width: 900px) {
    .home-grid2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        text-align: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: larger;
        border-collapse: inherit;
    }
    
    .image1:hover {
        grid-column: 2;
        grid-row: 1;
        box-shadow: 0 0 50px #333;
    }
    
    .image2:hover {
        grid-column: 2;
        grid-row: 2;
        box-shadow: 0 0 50px #333;
    }
    
    .image3:hover {
        grid-column: 2;
        grid-row: 3;
        box-shadow: 0 0 50px #333;
    }
    
    .image4:hover {
        grid-column: 2;
        grid-row: 4;
        box-shadow: 0 0 50px #333;
    }
    
    .image5:hover {
        grid-column: 2;
        grid-row: 5;
        box-shadow: 0 0 50px #333;
    }
    
    .image6:hover {
        grid-column: 2;
        grid-row: 6;
        box-shadow: 0 0 50px #333;
    }
    
    .washingtonterrace {
        grid-column: 1;
        grid-row: 1;
        border-style: double;
    }
    
    .incomestats {
        grid-column: 1;
        grid-row: 2;
        border-style: double;
    }
    
    .workstats {
        grid-column: 1;
        grid-row: 3;
        border-style: double;
    }
    
    .earningstats {
        grid-column: 1;
        grid-row: 4;
        border-style: double;
    }
    
    .educationstats {
        grid-column: 1;
        grid-row: 5;
        border-style: double;
    }
    
    .total {
        border-style: double;
        background-color: #424651;
        color: #8FBFE0;
        grid-column: 1;
        grid-row: 6;
    }


    }