#r {
	width: 180px;
	margin-bottom: 0;
}

label {
	display: block;
	font-weight: 700;
}

#rangevalue {
	font-size: 1.5rem;
	color: navy;
}

#rangevalues {
	display: flex;
	margin: 0 0 0 100px;
	width: 200px;
}

#rangevalues option {
	flex: 1 1 auto;
}

input [type=range] {
    margin: 1rem;
    padding: 0.5rem;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

#formmessage {
	visibility: hidden;
	margin: 10px;
	padding: 0.5rem;
	color: red;
}

#pwd:invalid {
	background-color: #fff0f3;
	animation: shaketext 500ms;
}