.joinpage {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.join {
    text-align: center;
    grid-column: 1/-1;
}


<div class="desktop">
<img id="fig1" src="images/membership1.webp" alt="Figure 1" width="450" height="300">
<img id="fig2" src="images/membership2.webp" alt="Figure 2" width="450" height="300">
<img id="fig3" src="images/membership3.webp" alt="Figure 3" width="450" height="300">
<img id="fig4" src="images/membership4.webp" alt="Figure 4" width="450" height="300">
</div>