
.topnav {
    background-color: blue;
    
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:link, a:visited {
    color:white
}

a:hover, a:active {
    background-color: red;
}

#me {
    max-width: 10%;
    max-height: 10%;
}

nav {
    text-align: center;
    background-color: black;
}

ul {
    list-style-type: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h2 {
    grid-column: 2;
    grid-row: 1;   
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom-style: solid;
    white-space: nowrap;
}

h3 {
    font-family: Oswald, Roboto Mono, Raleway;
    background-color: blue;
    color: white;
    text-align: center;
}

.cardtop {
    grid-column: 2;
    grid-row: 2;
    border-style: solid;
    border-color: grey;
}

.cardbottom {
    grid-column: 2;
    grid-row: 3;
    border-style: solid;
    border-color: grey;
}

footer {
    background-color: blue;
    color: white;
    text-align: center;
}

#flag {
    max-width: 5%;
    max-height: 5%;
    align-items: center;
    justify-content: center;
}

.modification {
    color:red;
}