.topnav {
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu {
    display: none;
}

.navi {
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    background-color: black;
    text-align: center;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.navi :link {
    color: white
}

.navi :visited {
    color: white
}

.navi :hover {
    color: red;
}
    
#me {
    max-width: 10%;
    max-height: 10%;
    padding-right: 10px;
}

footer {
    background-color: blue;
    color: white;
    text-align: center;
}
    
#flag {
    max-width: 5%;
    max-height: 5%;
    align-items: center;
    justify-content: center;
}
    
.modification {
    color:#eeff00;
}