.topnav {
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu {
    display: none;
}

.navi {
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    background-color: black;
    text-align: center;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.navi :link {
    color: white
}

.navi :visited {
    color: white
}

.navi :hover {
    color: red;
}
    
#me {
    max-width: 10%;
    max-height: 10%;
    padding-right: 10px;
}

ul {
    list-style-type: none;
    color: black;
}

#r {
	width: 180px;
	margin-bottom: 0;
}

#rangevalue {
	font-size: 1.5rem;
	color: navy;
}

#rangevalues {
	display: flex;
	margin: 0 0 0 25px;
	width: 200px;
}

#rangevalues option {
	flex: 1 1 auto;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.btnSubmit {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

#formmessage {
	visibility: none;
	margin: 10px;
	padding: 0.5rem;
	color: red;
}

#pwd:invalid {
	background-color: #fff0f3;
	animation: shaketext 500ms;
}

footer {
    background-color: blue;
    color: white;
    text-align: center;
}
    
#flag {
    max-width: 5%;
    max-height: 5%;
    align-items: center;
    justify-content: center;
}
    
.modification {
    color:#eeff00;
}