@media screen and (min-width: 900px) {

    :root {

        /*    Colors    */
        --primary-color: #0077b6;
        --secondary-color: #03045e;
        --white-: white;
        --accent-color: #EE6C4D;
        --accent-color2: #03045e;
        --slider-main: black;
        --slider-secondary: darkgrey;
        
        /*    Fonts     */
        --headings-font: 'Dhurjati', sans-serif;
        --multi-headings: 'Dancing Script', cursive;
        --paragraph-font: 'Work Sans', sans-serif;
        --footerdescription-font: 'Hedvig Letters Serif', serif;
        --modification-font: 'Roboto', sans-serif;
        
        
        
        }
        
        #logo {
            width: 100px;
            height: auto;
        }
        
        #bigname {
            padding-right: 10px;
            padding-left: 10px;
            font-family: var(--headings-font)
        }
        
        .topnav {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--primary-color);
            color: var(--secondary-color);
        }
        
        .hero img {
            width: 100%;
            height: auto;
        }

        /* banner */
        #banner-container {
	        position: fixed;
	        top: 50%;
	        left: 50%;
	        transform: translate(-50%, -50%);
	        z-index: 1;
	        display: flex;
	        width: 60%;
	        height: 15%;
	        background: var(--primary-color);
	        color: var(--accent-color);
	        border: var(--accent-color2) 10px solid;
  
        }

        #close{
	        display: flex;
	        font-family: var(--heading-font);
	        position: absolute;
	        top: .5rem;
	        right: .5rem;
        }
        
        /* Hamburger Menu */
        
        #menu {
            font-size: 1.5rem;
            border: 1px solid rgba(0,0,0,.3);
            padding: 3px 7px 6px;
            background-color: var(--white-);
            color: #000;
             position: absolute;
            top: 1rem;
            right: 1rem;
        }
        
        #menu::before {
            content: "☰";
        }
        
        #menu.open::before {
            content: "✖️";
        }
        
        .navi {
            display: flex;
            flex-direction: column;
            list-style: none;
            background-color: var(--secondary-color);
            color: var(--white-);
        }
        
        .navi li {
            display: none;
        }
        
        .navi li a {
            display: block;
            padding: 5px;
            text-align: center;
            color: var(--white-);
        }
        
        .navi li a:hover {
            color: var(--accent-color);
            font-weight: 700;
        }
        
        .open li {
            display: block;
            width: 100%;
        }
        .open li a {
            display: block;
        }
        
        #mode {
            position: absolute;
            top: 2rem;
            left: 1rem;
            font-size: 3rem;
            cursor: pointer;
        }
        
        /* Main */
        
        
        h2 {
            text-align: center;
            font-family: var(--multi-headings);
        }
        
        /* Row 1*/
        
        .cozumel {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            font-family: var(--paragraph-font);
        }
        
        .beachimages {
            grid-column: 1;
            grid-row: 1;
        }
        
        .text1 {
            grid-column: 2;
            grid-row: 1;
            place-self: center;
        }
        
        #text1 {
            padding-bottom: 1rem;
        }
        
        #text2 {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        
        #text3 {
            padding-top: 1rem;
        }
        
        .beachimage1 {
            height: 300px;
            width: auto;
            margin-top: 2rem;
        }
        
        /* Row 2*/
        
        .getaround {
            grid-column: 2;
            grid-row: 2;
        }
        
        #getaround {
            width: 200px;
            height: auto;
            padding-right: 0.5rem;
        }
        
        .r2text1 {
            grid-column: 1;
            grid-row: 2;
            place-self: center;
            padding-left: 0.5rem;
            padding-bottom: 4rem;
        }
        
        /* Row 3*/
        
        .getaround2 {
            grid-column: 1;
            grid-row: 3;
        }
        
        #getaround2 {
            width: 200px;
            height: auto;
            padding-left: 0.5rem;
        }
        
        .r3text1 {
            grid-column: 2;
            grid-row: 3;
            place-self: center;
            padding-bottom: 4rem;
        }
        
        /* Weather */
        
        .weather {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            /* background-color: var(--accent-color);
            border-radius: 25%; */
            margin-bottom: 1rem;
        }
        
        .weathertitle {
            text-align: center;
            grid-column: 1/-1;
            grid-row: 1;
        }
        
        .weather1 {
            text-align: center;
            grid-column: 1;
            grid-row: 2;
            font-size: smaller;
            background-color: var(--accent-color);
            border-radius: 10% 25%;
        
        }
        
        .weather2 {
            text-align: center;
            grid-column-start: 2;
            grid-row: 2;
            font-size: smaller;
            background-color: var(--accent-color);
            border-radius: 30% / 80%;
        }
        
        .weather3 {
            text-align: center;
            grid-column: 3;
            grid-row: 2;
            font-size: smaller;
            background-color: var(--accent-color);
            border-radius: 25% 10%;
        }
        
        .weatherpicture, figcaption {
            text-align: center;
        }
        
        .reservationsnow {
            text-align: center;
            background-color: var(--accent-color2);
            color: var(--accent-color);
            border-radius: 30%;
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 1rem;
            padding-bottom: 1rem ;
            margin-bottom: 1rem;
        }
        
        .reservationsnow a {
            padding: 5px;
            text-align: center;
            color: var(--white-);
        }
        
        .reservationsnow a:hover {
            color: var(--accent-color);
            font-weight: 700;
        }

        /*   Footer    */
        
        footer {
            background-color: var(--primary-color);
            color: var(--secondary-color);
        }
        
        .directions {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        }
        
        .address1 {
            grid-column: 1;
            text-align: center;
            font-family: var(--paragraph-font);
            font-size: smaller;
        }
        
        .cruise {
            width: 150px;
            height: 150px;
            padding-left: 1rem;
        }
        
        .social {
            grid-column: 2;
            align-self: center;
            margin-left: auto;
            margin-right: auto;
        }
        
        .facebook {
            width: 50px;
            height: auto;
        }
        
        .instagram {
            width: 50px;
            height: auto;
        }
        
        .twitter {
            width: 50px;
            height: auto;
        }
        
        .address2 {
            grid-column: 3;
            text-align: center;
            font-family: var(--paragraph-font);
            font-size: smaller;
        }
        
        .ferry {
            width: 150px;
            height: 150px;
            padding-right: 1rem;
        }
        
        .horizontal-line {
            margin: 1.5rem;
            border-top: solid var(--secondary-color);
            width: 90%;
        }
        
        .yearcomplete {
            text-align: center;
            color: var(--white-);
            font-family: var(--footerdescription-font);
        }
        
        .modification {
            text-align: center;
            font-size: 11px;
            font-family: var(--modification-font);
        }
        
        /* Rental Page */
        
        .rentals {
            margin-left: 2rem;
            margin-right: 2rem;
            margin: 1rem;
            position: relative;
            text-align: center;
            align-items: center;
        }
        
        .rentals h2 {
            color: var(--secondary-color);
            margin: 0 0 1rem 0;
            margin-top: 1rem;
        }
        
        .rentals h3 {
            margin-top: 0;
            padding-bottom: 0;
        }
        
        .rentals h4 {
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            font-size: smaller;
        }
        
        .rentals body {
            font-size: 16px;
            font-family: Roboto, Arial, Helvetica, sans-serif;
        }
        
        #cards {
            display: flex;
            flex-wrap: wrap;
            flex: 1 1 0;
            justify-content: center;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        
        .rentals section {
            margin: 0.25rem;
            padding: 0.35rem;
            background-color: var(--primary-color);
            border: 2px solid var(--secondary-color);
            width: 350px;
            border-radius: 15%;
        
        }
        
        .rentals img {
            height: 100px;
            width: 150px;
            margin-left: 3rem;
            margin-right: 3rem;
        }
        
        /* Table on Rental Page */
        
        .heading, .heading2 {
            background-color: var(--accent-color);
            color: var(--accent-color2);
        }
        
        table {
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: small;
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
        }
        
        tbody {
            background-color: var(--accent-color2);
            color: var(--accent-color);
        }
        
        .rentalsfooter {
            margin-top: 2rem;
        }
        
        /* join.html page */
        
        .mainjoin {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        
        #ra li {
            list-style-type: circle;
        }
        
        .join {
            text-align: center;
            grid-column: 1/-1;
        }
        
        .join {
            text-align: center;
            grid-column: 1/-1;
        }
        
        form fieldset {
            grid-column: 1;
            margin: 3rem 0;
            border: 3px solid var(--accent-color2);
            border-radius: 10px;
            padding: 1rem 2%;
            padding-bottom: 2rem;
        }
        
        form legend {
            grid-column: 1;
            text-align: center;
            color: black;
            margin: 0 1rem;
            padding: 0 .5rem;
        }
        
        form label.top {
            grid-column: 1;
            display: block;
            padding-top: 1rem;
            padding-left: 2rem;
            color: #9c2c13;
            font-size: .8rem;
        }
        
        form label.top input, input {
            grid-column: 1;
            display: block;
            font-size: 1rem;
            border: solid 1px #999;
            border-radius: 4px;
            padding: .75rem;
            color: #555;
            width: 100%;
            max-width: 20rem;
            background-color: rgba(0, 0, 0, 0.1);
        }
        
        textarea {
            grid-column: 1;
            display: block;
            font-size: 1rem;
            border: solid 1px #999;
            border-radius: 4px;
            padding: .75rem;
            color: #555;
            width: 100%;
            max-width: 20rem;
            background-color: rgba(0, 0, 0, 0.1);
            margin-left: 2rem;
        }
        
        textarea {
            grid-column: 1;
            display: block;
            padding-top: 1rem;
            padding-left: 2rem;
            color: #9c2c13;
            font-size: .8rem;
        }
        
        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .joinbtn {
            border: none;
            background-color: var(--primary-color);
            color: var(--accent-color2);
            border-radius: 1rem;
            padding: .75rem 1.5rem;
            margin: 0 0 2rem 2%;
            width: 96%;
            max-width: 20rem;
            text-decoration: underline;
        }
        
        /* Contact Us Page */

        iframe {
            height: 200px;
            width: 300px;
        }
        
        .locationsmap {
            text-align: center;
        }
        
        .loc1, .loc2 {
            display: inline-block;
            padding: 2rem;
        }
        
        #contactp {
            text-align: center;
            padding-bottom: 1rem;
        }
        
        #contactinfo1, #contactinfo2, #contactinfo3 {
            text-align: center;
            font-weight: bolder;
            margin: 0;
        }
        
        #contactusproblem {
            text-align: center;
        }
}